{% extends 'principal/base_template.html' %} {% load static %} {% block content %}
<!--CONTENIDO-->

<div class="container">

    <div class="row">
        <div class="col">
            <header>
                <h1 class=" text-center"><mark>BOOKS MIND </mark></h1>
            </header>

            <figure>
                <figcaption class="figure-caption text-center">
                    <img src="{% static 'principal/img/bookMind.jpg' %}" alt="bookMind w-100" class="img-fluid img-thumbnail"> book-mind
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid mt-4">
                <h3 class="display-4 text-center">Activa tu Enfoque</h3>
                <section>
                    <h3 class="text-center" hidden>Titulo seccion</h3>
                    <article>
                        <h5 class="text-center" hidden>Titulo Article</h5>
                        <p class="lead  text-center">El paso de elevar tus <strong>OBJETIVOS</strong> y metas, esta a tu alcance.</p>
                        <p class="lead  text-center">Explora nuevos horizontes, abre tu mente y conocete. <em>Encontraras la forma de <mark>transformar un mal momento</mark> en uno al cuál sacarle partido. </em></p>
                    </article>
                </section>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid bg-light">
        <div class="row">
            <div class="col">
                <h1 class="display-4 text-center">Quiénes somos</h1>
                <p class="lead text-center text-danger text-uppercase">
                    <p>Somos una pareja de colegas y amigos que durante años hemos estudiado acerca del desarrollo personal. Tenemos un Coach en Desarrollo Humano Certificado por la International Coach Federation, la International Society of Neuro-Semantics y además variados cursos de psicología y técnicas para el desarrollo del ser.</p>

                    <p>La vida es mucho más que nacer, crecer, reproducirse y morir. Como seres humanos hemos sido dotados de todas las herramientas para hacer de nuestra estancia en este mundo, una experiencia maravillosa. El problema radica en que con frecuencia, no somos conscientes de ello.</p>

                    <p>Durante los últimos 25 años ha ocurrido una revolución en el campo del Desarrollo Humano, en donde técnicas como la Programación Neurolingüística, el Coaching y el Thetahealing han demostrado que es posible llevar una mejor calidad de vida si revisamos y modificamos nuestras creencias.</p>

                    <p>Pues bien, utilizando estas poderosas técnicas, podemos apoyarte a crear la vida que quieres y mereces. ¡La decisión es tuya!</p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="py-4 border-bottom">
                <h1 class="text-center">E-Books Mind</h1>
            </div>
        </div>
    </div>

    <div class="row py-4">
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'principal/img/libro10.jpg' %}" alt="">
                <div class="card-body">
                    <h3 class="card-title">B.A.Y</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-sm btn-warning">Comprar</a>
                    <a href="#" class="btn btn-sm btn-secondary">Detalles</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'principal/img/libro8.jpg' %}" alt="">
                <div class="card-body">
                    <h3 class="card-title">Saltar al Vacio</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-sm btn-warning">Comprar</a>
                    <a href="#" class="btn btn-sm btn-warning">Detalles</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'principal/img/libro9.jpg' %}" alt="">
                <div class="card-body">
                    <h3 class="card-title">Reinventarse</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-sm btn-warning">Comprar</a>
                    <a href="#" class="btn btn-sm btn-warning">Detalles</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'principal/img/libro2.jpg' %}" alt="">
                <div class="card-body">
                    <h3 class="card-title">Controle su Destino</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-sm btn-warning">Comprar</a>
                    <a href="#" class="btn btn-sm btn-warning">Detalles</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'principal/img/libro3.jpg' %}" alt="">
                <div class="card-body">
                    <h3 class="card-title">7 Habitos</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-sm btn-warning">Comprar</a>
                    <a href="#" class="btn btn-sm btn-warning">Detalles</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'principal/img/libro4.jpg' %}" alt="">
                <div class="card-body">
                    <h3 class="card-title">Lo Unico</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-sm btn-warning">Comprar</a>
                    <a href="#" class="btn btn-sm btn-warning">Detalles</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'principal/img/libro5.jpg' %}" alt="">
                <div class="card-body">
                    <h3 class="card-title">Tus Zonas Eroneas</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-sm btn-warning">Comprar</a>
                    <a href="#" class="btn btn-sm btn-warning">Detalles</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'principal/img/libro6.jpg' %}" alt="">
                <div class="card-body">
                    <h3 class="card-title">Deja de ser tú</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-sm btn-warning">Comprar</a>
                    <a href="#" class="btn btn-sm btn-warning">Detalles</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'principal/img/libro7.jpg' %}" alt="">
                <div class="card-body">
                    <h3 class="card-title">El antídoto</h3>
                    <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-sm btn-warning">Comprar</a>
                    <a href="#" class="btn btn-sm btn-warning">Detalles</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card fondoCard">
                <img class="card-img-top" src="{% static 'principal/img/libro13.jpg' %}" alt="">
                <div class="card-body">
                    <h3 class="card-title text-muted">Cameras</h3>
                    <p class="card-text text-danger">
                        <mark> AGOTADO</mark>
                    </p>
                    <a href="#" class="btn btn-sm btn-dark btn disabled">Comprar</a>
                    <a href="#" class="btn btn-sm btn-dark btn disabled">Detalles</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card fondoCard">
                <img class="card-img-top" src="{% static 'principal/img/libro11.jpg' %}" alt="">
                <div class="card-body">
                    <h3 class="card-title text-muted">Cameras</h3>
                    <p class="card-text text-danger">
                        <mark> AGOTADO</mark>
                    </p>
                    <a href="#" class="btn btn-sm btn-dark btn disabled">Comprar</a>
                    <a href="#" class="btn btn-sm btn-dark btn disabled">Detalles</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card fondoCard">
                <img class="card-img-top" src="{% static 'principal/img/libro10.jpg' %}" alt="">
                <div class="card-body">
                    <h3 class="card-title text-muted">Cameras</h3>
                    <p class="card-text">
                        <mark> AGOTADO</mark>
                    </p>
                    <a href="#" class="btn btn-sm btn-dark btn disabled">Comprar</a>
                    <a href="#" class="btn btn-sm btn-dark btn disabled">Detalles</a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="row border-top py-5">
            <div class="col">
                <h3 class="lead">Healthy-Mind</h3>
                <a href="#" class="btn btn-link">Acerca de</a>
                <a href="#" class="btn btn-link">Contacto</a>
            </div>
            <div class="col text-right">
                <a href="#" class="btn btn-link">Subir en Pagina</a>
            </div>
        </div>
    </footer>
</div>
<!--SCRIPTS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="{% static 'principal/js/funciones.js' %}"></script>
<script src="{% static 'principal/js/externo.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}	