{% extends 'principal/base_template.html' %} {% load static %} {% block content %}
<div class="container">

    <!--La clase, para el css.-->
    <!--El id, para el JavaScript.-->
    <form action="#" class="formulario" id="formulario" name="formulario" method="POST">
          
        <div class="contenedor-inputs">
            <div class="row ">
                <div class="col-md-12">
                    <fieldset>
                        <legend class="text-center text-danger">Contacto</legend>

                        <div class="form-group">
                            <div class="col">

                                <input id="txtNombre" name="name" type="text" placeholder="Nombres" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col">
                                <input id="txtApellidos" name="name" type="text" placeholder="Apellidos" class="form-control estiloInput">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col">
                                <input id="txtEmail" name="email" type="text" placeholder="Correo" class="form-control estiloInput">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col">
                                <textarea class="form-control" id="txtArea" name="message" placeholder="Ingresa tu mensaje aquí." rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group">

                            <select class="custom-select custom-select-lg mb-3" id="combobox">
                                <option selected>Contacto por: Seleccione</option>
                                <option value="1">Contacto por : Desarrollo Personal</option>
                                <option value="2">Contacto por : Bienestar Personal</option>
                                <option value="3">Contacto por : Clase Meditacion</option>
                            </select>
                        </div>

                        <div class="terminos">
                            <input type="checkbox" name="terminos" id="terminos">
                            <label for="terminos" class="text-white">Acepto terminos y condiciones</label>
                        </div>

                        <ul class="error" id="error">
                        </ul>

                    </fieldset>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-12 text-center">
                <input type="submit" class="btn" value="Registrate">
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="{% static 'js/validarContacto.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
