<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
   
   
    <!--<link rel="image" href="../web%20trabajo/imagen/hm">-->

    <title>Registro</title>


    <!-- Bootstrap core CSS -->
    <!--<link href="style/bootstrap.css" rel="stylesheet">
    <link href="estilos.css" rel="stylesheet">-->
  </head>



  <body id="registro">
  <!-- Menu-->
     
   <div class="row ">
        <div class="col ">
              <nav>
                  <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <!--Titulo/Icon-->
                    <img src="../img/logo.png" alt="Logo Healthy-Mind" width="30" height="30" class="logo">
                    <a href="../index.html" class="navbar-brand text-muted">Healthy-Mind</a>

                <!--Boton-Collapse (Aparicion de Icono menu para dispositivos Movil)-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbar" aria-controls="navbar" aria-expanded="false"
                        aria-label="Menu de Navegacion">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                <!--Enlace ha utilizar-->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="ul-navbar navbar-nav justify-content-center">
                        <li class="navbar-item">
                            <a href="#" class="header-items nav-link lead">Quienes Somos</a>
                        </li>
                        
                        <li class="navbar-item">
                            <a href="../E-Books/ebooks.html" class="header-items nav-link lead">E-Books</a>
                        </li>
                        
                        <li class="navbar-item">
                            <a href="#" class="header-items nav-link lead dropdown-toggle" id="submenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articulos</a>
                               <div class="dropdown" >
                                   <div class="dropdown-menu" >
                                       <a href="../Articulos/article1.html" class="Articulos-Submenu dropdown-item" id="actitud">Actitud Positiva</a>
                                       <a href="#" class="Articulos-Submenu dropdown-item proximamente"
                                       >Proximamente</a>
                                       <a href="#" class="Articulos-Submenu dropdown-item proximamente" >Proximamente</a>
                                       <a href="#" class="Articulos-Submenu dropdown-item proximamente">Proximamente</a>
                                   </div>
                               </div>
                        </li>
                        
                         <li class="navbar-item">
                            <a href="#" class="header-items nav-link lead">Charlas</a>
                        </li>
                        
                         <li class="navbar-item">
                            <a href="#" class="header-items nav-link lead">Contacto</a>
                        </li>
                    </ul>
                </div>
            `    </div>       
              </nav>
        </div>
    </div>
    
   <div class="container contenedor-Registro" >
   <div class="row-inicio row ">
       <div class="col-6"> 
         
         
          <!-- Logo de Healthy-Mind -->
            
                  
          <figure>
              <img class="hm img-fluid mx-auto d-block w-30"  src="../img/logo.png" alt="Logo-Healthy-Mind"  >
          </figure>
          
          <!-- Titulo 'Registro' -->
          <header>
              <h1 class="h3 mb-3 font-weight-normal text-center text-white display-4"> Registro</h1>
          </header>
           
          <!-- Formulario / Inputs Registro -->
          <form action="#" id="formulario" name="formulario" class="formulario" method="post">
              <div class="form-group"> 
                 <ul class="mensageError" id="mensajeF">
                     <li></li>
                 </ul>
                 
                  <input type="email" id="txtEmail" name="email" class="form-control inputs" placeholder="Email">
              </div>
            
                <div class="form-group">
                     <label for="txtPassword" class="sr-only">Password</label>
                      <input class="inputs form-control p-2" type="password" id="txtPassword"   placeholder="Password">
                </div>
             
              <div class="form-check form-group">
                <label class="form-check-label">
                  <input class="inputs" id="rememberMe" type="checkbox" value="remember-me"> Recordarme
                </label>
                  <button class="btn btn-lg btn-primary btn-block" id="btn" type="submit" >Empezar! :D</button>
              </div>
              
          </form>
           <footer>
               <p class="mt-5 mb-3 text-white text-center">&copy; 2019</p>
           </footer>
                
       </div>
   </div> 
   
   
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
             
   <script src="../js/funciones.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
  
  
</html>